# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore makefile
!Makefile

# Ignore all images
*.png
*.pgm
*.jpg
*.jpeg
*.json

# Ignore executables
viewBinaryData
binaryFloatsToPGM
binaryDataToPGM
